# (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2018.
# See the LICENSE file for more details.

gatling/
.DS_Store

aws-ec2/ENV/
aws-ec2/data/simulations
aws-ec2/data/gatling-charts-highcharts-bundle*/
aws-ec2/bin/go.sh
aws-ec2/bin/toalgo.sh
aws-ec2/results
tmp/
